@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@font-face {
  font-family: SMM;
  src: url("/Super Mario Maker Font.ttf");
}
canvas {
  width: 100%;
  aspect-ratio: 1/1;
}

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

:root {
  --spaceFactor: 13;
  --symbolSize:2rem;
  --valueSize:1rem;
}

.play-area-color-1 {
  grid-row: 1/3;
  grid-column: 1/2;
  background-color: #E1E7F7;
}

.card-container-color {
  grid-row: 4/5;
  grid-column: 1/2;
  background-color: #B2B7C3;
  z-index: 7;
  border-radius: 0 0 16px 16px;
}

.controls-color {
  grid-row: 3/4;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #B2B7C3;
  border-radius: 16px 16px 0 0;
}

body {
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 50vh 13vh 7vh 30vh;
  grid-template-columns: 100vw;
  background-color: #E1E7F7;
}

#play-area {
  grid-row: 1/3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#master-player-info-plane {
  grid-row: 1/3;
  grid-column-start: 1;
  grid-column-end: 2;
  z-index: 5;
}

#over-play-area {
  grid-row: 1/3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: transparent;
  z-index: 1000;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#spread-card-hit-box {
  height: 60%;
  aspect-ratio: 1/1;
}

#controls {
  grid-row: 3/4;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 99;
  gap: 10px;
  background-color: #B2B7C3;
  border-radius: 16px 16px 0 0;
}
#controls button {
  border-radius: 8px;
  border: 2px solid #e5e5e5;
  border-bottom: 6px solid #e5e5e5;
  transition: all 0.1s;
  display: inline-flex;
  padding: 12px 16px;
}
#controls button:hover {
  background-color: #ddf4ff;
  border-color: #1cb0f6;
}
#controls button:active {
  border-bottom: 2px solid #1cb0f6;
}

.high-z-index {
  z-index: 500 !important;
}

#card-container {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  background-color: transparent;
  padding: 1rem 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
  z-index: 30;
  overflow: auto;
}
#card-container .CardTransition {
  bottom: 0%;
  opacity: 1;
}

.master-player-info-left, .master-player-info-right, .master-player-info-top, .master-player-info-bottom {
  box-sizing: border-box;
  height: 12vh;
  aspect-ratio: 16/9;
  background-color: yellow;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 2fr 6fr 2fr;
  grid-template-rows: 20% 60% 20%;
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  transition: all 0.2s ease;
  outline-offset: 5px;
}

.master-player-info-team {
  grid-row: 3/4;
  grid-column: 1/3;
  background-color: blue;
  border-radius: 0 0 12px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid white;
}

.turn {
  outline: 3px solid red;
}

.master-player-info-semantic {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.master-player-info-semantic #number-of-cards {
  font-size: 2.5vh;
}

.master-player-info-avatar {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.master-player-info-name {
  grid-row: 1/2;
  grid-column: 1/3;
  background-color: green;
  border-radius: 12px 12px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: stretch;
  border-bottom: 1px solid white;
}

.master-player-info-right, .master-player-info-top {
  grid-template-columns: 7fr 3fr;
}
.master-player-info-right .master-player-info-avatar, .master-player-info-top .master-player-info-avatar {
  grid-column: 2/3;
}
.master-player-info-right .master-player-info-semantic, .master-player-info-top .master-player-info-semantic {
  grid-column: 1/2;
}

.card-hover:hover {
  transform: translateY(-30%);
}

#left-place-holder {
  justify-content: center;
  align-items: center;
  opacity: 1;
  margin: 0;
  bottom: 0;
}

#right-place-holder {
  justify-content: center;
  align-items: center;
  opacity: 1;
  margin: 0;
  bottom: 0;
}

#bottom-place-holder {
  justify-content: flex-end;
  align-items: center;
  opacity: 1;
  margin: 0;
  bottom: 0;
}

#top-place-holder {
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
  margin: 0;
  bottom: 0;
}

.space-block {
  height: 18%;
  width: 100%;
  background-color: aqua;
}

.col1 {
  background-color: red;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.col2 {
  background-color: blue;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col3 {
  background-color: pink;
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.play_card {
  font-family: SMM;
  position: relative;
  bottom: 50%;
  opacity: 0;
  height: 24vh;
  aspect-ratio: 9/16;
  background-color: #fefefe;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  font-size: var(--valueSize);
  border: 1px solid black;
  transition: all 0.2s ease;
  user-select: none;
}

.lower {
  align-self: flex-end;
}

.symbol {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--symbolSize);
}

.play_card[flip] {
  background-color: transparent;
  perspective: 1000px;
  opacity: 1;
  bottom: 0%;
  padding: 0;
  border: unset;
}
.play_card[flip] .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.play_card[flip] .front-card, .play_card[flip] .back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border: 1px solid black;
  border-radius: 5px;
}
.play_card[flip] .front-card {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}
.play_card[flip] .back-card {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.play_card[flip]:hover .card-inner {
  transform: rotateY(180deg);
}

[suit=heart] {
  color: red;
}

[suit=diam] {
  color: red;
}

.area-play-card {
  font-family: SMM;
  position: absolute;
  height: 24vh;
  aspect-ratio: 9/16;
  background-color: #fefefe;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  font-size: var(--valueSize);
  border: 1px solid black;
  transition: all 0.1s ease;
  user-select: none;
}

.minimal-player-info {
  height: 15vh;
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1.2;
  position: absolute;
  color: white;
  border-radius: 12px;
  font-size: 90%;
  text-overflow: ellipsis;
}

.ready::after {
  font-family: SMM;
  content: "Ready";
  height: 15%;
  top: -5%;
  right: -5%;
  aspect-ratio: 1/1;
  border-radius: 8px;
  background-color: green;
  position: absolute;
  padding: 0.5vh;
}

.outline {
  outline: 2px solid red;
}

.minimal-avatar {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.minimal-name {
  height: 20%;
  background-color: white;
  color: black;
  border-radius: 0 0 12px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#_2OfHeart .symbol, [value="2OfHeart"] .symbol {
  animation: heartbeat 2s infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shine {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@media only screen and (min-height: 600px) {
  :root {
    --symbolSize:3rem;
    --valueSize:1.5rem;
  }
}
@media only screen and (min-height: 900px) {
  :root {
    --symbolSize:7rem;
    --valueSize:2rem;
  }
}