* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

:root {
  --spaceFactor: 13;
  --symbolSize:2rem;
  --valueSize:1rem;
}

.play-area-color-1 {
  grid-row: 1/3;
  grid-column: 1/2;
  background-color: gray;
}

.card-container-color {
  grid-row: 4/5;
  grid-column: 1/2;
  background-color: green;
}

body {
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 50vh 13vh 7vh 30vh;
  grid-template-columns: 100vw;
}

#play-area {
  grid-row: 1/3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: transparent;
  position: relative;
}

#over-play-area {
  grid-row: 1/3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: transparent;
  z-index: 10000000;
  height: 60%;
  align-self: center;
}

#controls {
  grid-row: 3/4;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.high-z-index {
  z-index: 500 !important;
}

#card-container {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  background-color: transparent;
  padding: 1rem 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
  z-index: 3;
  overflow: auto;
}
#card-container .CardTransition {
  bottom: 0%;
  opacity: 1;
}

.card-hover:hover {
  transform: translateY(-30%);
}

#left-place-holder {
  justify-content: center;
  align-items: center;
  opacity: 1;
  margin: 0;
  bottom: 0;
}

#right-place-holder {
  justify-content: center;
  align-items: center;
  opacity: 1;
  margin: 0;
  bottom: 0;
}

#bottom-place-holder {
  justify-content: flex-end;
  align-items: center;
  opacity: 1;
  margin: 0;
  bottom: 0;
}

#top-place-holder {
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
  margin: 0;
  bottom: 0;
}

.space-block {
  height: 18%;
  width: 100%;
  background-color: aqua;
}

.col1 {
  background-color: red;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.col2 {
  background-color: blue;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col3 {
  background-color: pink;
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.play_card {
  position: relative;
  bottom: 50%;
  opacity: 0;
  height: 24vh;
  aspect-ratio: 9/16;
  background-color: #fefefe;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  font-size: var(--valueSize);
  border: 1px solid black;
  transition: all 0.2s ease;
  user-select: none;
}

.lower {
  align-self: flex-end;
}

.symbol {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--symbolSize);
}

[suit=heart] {
  color: red;
}

[suit=diam] {
  color: red;
}

.area-play-card {
  position: absolute;
  height: 24vh;
  aspect-ratio: 9/16;
  background-color: #fefefe;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  font-size: var(--valueSize);
  border: 1px solid black;
  transition: all 0.1s ease;
  user-select: none;
}

#_2OfHeart .symbol, [value="2OfHeart"] .symbol {
  animation: heartbeat 2s infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shine {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@media only screen and (min-height: 600px) {
  :root {
    --symbolSize:3rem;
    --valueSize:1.5rem;
  }
}
@media only screen and (min-height: 900px) {
  :root {
    --symbolSize:7rem;
    --valueSize:2rem;
  }
}