#lobby {
  grid-row: 1/5;
  grid-column: 1/2;
  background-color: #D1CEC5;
  z-index: 2000;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 15% 60% 25%;
  background-color: #00BE9C;
}

.lobby-title {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: SMM;
  font-size: min(4vw, 8vh);
  padding: 0 3vh;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #7FF5D3;
  color: #5B1C1A;
}

.room-code {
  grid-column: 2/3;
  grid-row: 1/2;
  border-bottom: 3px solid #7FF5D3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.room-code #code {
  font-size: min(6vh, 3vw);
  background-color: #7FF5D3;
  padding: 1vh;
  border-radius: 8px;
  width: fit-content;
  font-family: SMM;
}
.room-code .code-title {
  color: #5B1C1A;
  font-family: SMM;
}

#team-area {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #FAFFBD;
  margin: 1vh;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  padding: 3vh;
}
#team-area #teamA {
  grid-column: 1/2;
  background-color: #EE6360;
  border-radius: 8px 0 0 8px;
  border-right: 5px solid #FAFFBD;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  color: #A14341;
}
#team-area #teamB {
  grid-column: 2/3;
  background-color: #6355C4;
  border-radius: 0 8px 8px 0;
  border-left: 5px solid #FAFFBD;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  color: #3C3377;
}
#team-area .team-count {
  grid-row: 1/2;
  grid-column: 1/2;
  font-family: SMM;
  padding: 2vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 5vh;
}
#team-area .minimal-player-info {
  position: relative;
  height: 15vh;
}
#team-area .team-background-text {
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 8vh;
  font-family: SMM;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-player-container {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.team-player-container .minimal-player-info {
  position: relative;
}

#player-area {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
#player-area #player-container {
  width: 95%;
  background-color: #FAFFBD;
  margin: 1vh;
  height: calc(100% - 2vh);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#player-area #player-container .minimal-player-info {
  position: relative;
  height: 15vh;
}

#lobby-setting {
  grid-column: 2/3;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 85% 15%;
}
#lobby-setting #setting {
  grid-row: 1/2;
  background-color: #7FF6CE;
  margin: 1vh;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 15% 85%;
  grid-template-columns: 100%;
}
#lobby-setting #setting .settings-cover {
  grid-row: 2/3;
  grid-column: 1/2;
}
#lobby-setting #setting #setting-title {
  grid-row: 1/2;
  font-family: SMM;
  font-size: min(5vh, 2.5vw);
  display: flex;
  align-items: center;
  justify-content: center;
}
#lobby-setting #setting #setting-body {
  grid-row: 2/3;
  grid-column: 1/2;
  overflow: auto;
}
#lobby-setting #setting #setting-body form {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
#lobby-setting .setting-form-element {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1vh;
  font-family: SMM;
}
#lobby-setting .setting-form-element .form-question {
  grid-row: 1/2;
  display: flex;
  align-items: center;
  padding-left: 1vw;
}
#lobby-setting .setting-form-element .form-choice {
  grid-row: 2/3;
  display: flex;
  justify-content: space-around;
  padding-left: 2vw;
  flex-direction: column;
  gap: 1vh;
}
#lobby-setting .setting-form-element .form-choice .radio-choice {
  display: flex;
  gap: 2vh;
  align-items: center;
}
#lobby-setting .foot {
  background-color: #11906F;
  margin: 1vh 1vh;
  border-radius: 8px;
  font-family: SMM;
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-row: 2/3;
}
#lobby-setting .foot button {
  all: unset;
  font-family: SMM;
  height: 7vh;
  width: 10vw;
  border-radius: 8px;
  text-align: center;
  color: white;
  border: 3px solid;
  box-sizing: content-box;
  transition: all 0.2s;
}
#lobby-setting .foot #leave {
  background-color: #FC6A6C;
  border-color: #FC6A6C;
}
#lobby-setting .foot #leave:hover {
  background-color: transparent;
  color: #FC6A6C;
}
#lobby-setting .foot #ready {
  background-color: #48D767;
  border-color: #48D767;
}
#lobby-setting .foot #ready:hover {
  background-color: transparent;
  color: #48D767;
}
#lobby-setting .foot #ready[unready] {
  background-color: yellow;
  border-color: yellow;
}
#lobby-setting .foot #ready[unready]:hover {
  background-color: transparent;
  color: yellow;
}
#lobby-setting .foot #ready[cantready] {
  background-color: grey;
  border-color: grey;
}
#lobby-setting .foot #ready[cantready]:hover {
  background-color: grey;
  color: white;
}