doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/index.css")
        script(src="../../src/deckAndCards.js") 
        title Satat
    body 
        .main
            .play-area-color-1
            .card-container-color 

            #play-area
                    .area-player-info
                    //#inner-play-area
                        //- .play_card(id="test-card" style="opacity: 1; bottom: 0; margin:0;")
                        //-     .upper 3♥
                        //-     .symbol ♥
                        //-     .lower 3♥
                   
            
            #card-container
            #controls 
                button#sort-button sort
                button#expand expand
                button#spawn-left spawn from left
                button#spawn-right spawn from right
                button#spawn-top spawn from top



            #over-play-area

    script(src="../script.js") 
    

