doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/index.css")
        link(rel="stylesheet", href="/lobby.css")
        link(rel="stylesheet", href="/popUpAndNotif.css")
        link(rel="stylesheet", href="/transitionScreen.css")

        |<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


        |<script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>

        script(src="/timer.js") 
        script(src="/deckAndCards.js") 
        script(src="/masterPlayerInfo.js") 
        script(src="/clientCommunication.js")
        script(src="/popUpAndNotif.js")
        script(src="/screenManager.js")


        script(src="/player.js") 


        title Satat
    body 
        .main

            .popup-notif

                .full 
                    //- .notif 
                        //- .notif-title Waiting for player to choose troop 
                        //- .notif-text. 
                        //-     <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                        //- .notif-button-container
                    
                .side-bar 

            .play-area-color-1
            .card-container-color
            .controls-color 

            #play-area
                    //- .timer 40s

                    
                   
            
            #card-container
                //- .troopChoices 
                //-     .choice &spades;
                //-     .choice(red) &diams;
                //-     .choice &clubs;
                //-     .choice(red) &hearts;

            #controls 
                button#sort-button.button sort
                button#expand expand
                button#spawn-left spawn from left
                button#spawn-right spawn from right
                button#spawn-top spawn from top



            #over-play-area
                #spread-card-hit-box

            #master-player-info-plane

            #lobby
                .lobby-title Lobby
                .room-code
                    #code=roomCode
                    .code-title Room-code
                #team-area
                    #teamA
                        .team-count 0/2

                        .team-background-text Team A
                        .team-player-container

                    #teamB
                        .team-count 0/2

                        .team-background-text Team B
                        .team-player-container



                #player-area
                    #player-container

                #lobby-setting
                    #setting
                        #setting-title Game setting
                        #setting-body
                            form 
                                .setting-form-element
                                    .form-question Who starts the game
                                    .form-choice
                                        .radio-choice
                                            input(type="radio", name="start-game", value="server")
                                            label The server randomly chooses a player.
                                        .radio-choice
                                            input(type="radio", name="start-game", value="playerCard" checked )
                                            label The players will each draw a card. The one having the strongest card starts.
                                        
                                .setting-form-element
                                    
                                    .form-question Who chooses troop
                                    .form-choice
                                        .radio-choice
                                            input(type="radio", name="troop-chooser", value="startingPlayer" checked)
                                            label The player who starts.
                                        .radio-choice
                                            input(type="radio", name="troop-chooser", value="randomServer")
                                            label A player is chosen from the starting player's team.

                                        

                                .setting-form-element
                                    
                                    .form-question Wait time before moving on to the next round
                                    .form-choice(style='flex-direction: row;')
                                        .radio-choice
                                            input(type="radio", name="next-round-wait-time", value="5")
                                            label 5s
                                        .radio-choice
                                            input(type="radio", name="next-round-wait-time", value="8" checked)
                                            label 8s
                                        .radio-choice
                                            input(type="radio", name="next-round-wait-time", value="12")
                                            label 12s
                                
                                .setting-form-element
                                    
                                    .form-question What happens when someone leaves the room mid-game
                                    .form-choice
                                        .radio-choice
                                            input(type="radio", name="mid-game-leaver", value="loseGame" checked)
                                            label That person's team loses the game.
                                        .radio-choice(style='color: gray;')
                                            input(type="radio", name="mid-game-leaver", value="wait" disabled)
                                            label Hold the game and wait for that person to come back.
                        //.settings-cover                  
                    .foot
                     button#ready Ready
                     button#leave Leave 
            
            
                    

            .transition-screen
                .round-card
                    .title Round 1 of 3

                .score
                    .teamL
                    .teamR
                    .middle 0 - 0

                    .avatar-container-L
                        img(src="/fcf7da688f481e86f5a9cf10975b4f8704f3cda60f7be2c8262bd0be907ec3ef.png", alt="", srcset="")
                        img(src="/0c4b3fb2b564b704bdb44240788631870a94736bfbb7082db252dbcd41d185eb.png", alt="", srcset="")
                    .avatar-container-R
                        img(src="/d4cf4196b951915eed08bd5866ba43e5857ef1003b629c682e72819f4866226a.png", alt="", srcset="")
                        img(src="/c9911ffc6a0e63ab1805ce87f4a5c76da229d9dc5d4be5876ec8cccdf21ba086.png", alt="", srcset="")
    script(src="/script.js") 
    

