doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/index.css")
        link(rel="stylesheet", href="/lobby.css")

        |<script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>

        script(src="/deckAndCards.js") 
        script(src="/masterPlayerInfo.js") 
        script(src="/clientCommunication.js")
        script(src="/player.js") 


        title Satat
    body 
        .main
            .play-area-color-1
            .card-container-color 

            #play-area
                    //- .master-player-info 
                    //-     .master-player-info-team
                    //-     .master-player-info-avatar
                    //-     .master-player-info-name

                    
                   
            
            #card-container
            #controls 
                button#sort-button sort
                button#expand expand
                button#spawn-left spawn from left
                button#spawn-right spawn from right
                button#spawn-top spawn from top



            #over-play-area
                #spread-card-hit-box

            #master-player-info-plane

            #lobby
                .lobby-title Lobby
                .room-code
                    #code=roomCode
                    .code-title Room-code
                #team-area
                    #teamA
                        .team-count 0/2

                        .team-background-text Team A
                        .team-player-container

                    #teamB
                        .team-count 0/2

                        .team-background-text Team B
                        .team-player-container



                #player-area
                    #player-container

                #lobby-setting
                    #setting
                        #setting-title Game setting
                        #setting-body
                            form 
                                .setting-form-element
                                    .form-question Who starts the game
                                    .form-choice
                                        .radio-choice
                                            input#start-game(type="radio", name="start-game", value="server")
                                            label The server randomly chooses a player.
                                        .radio-choice
                                            input#start-game(type="radio", name="start-game", value="playerCard" checked )
                                            label The players will each draw a card. The one having the strongest card starts.
                                        
                                .setting-form-element
                                    
                                    .form-question Who chooses troop
                                    .form-choice
                                        .radio-choice
                                            input#start-game(type="radio", name="troop-chooser", value="startingPlayer" checked)
                                            label The player who starts.
                                        .radio-choice
                                            input#start-game(type="radio", name="troop-chooser", value="playerCard")
                                            label The server randomly chooses a player.

                                .setting-form-element
                                    
                                    .form-question Wait time before moving on to the next round
                                    .form-choice(style='flex-direction: row;')
                                        .radio-choice
                                            input#start-game(type="radio", name="next-round-wait-time", value="5")
                                            label 5s
                                        .radio-choice
                                            input#start-game(type="radio", name="next-round-wait-time", value="8" checked)
                                            label 8s
                                        .radio-choice
                                            input#start-game(type="radio", name="next-round-wait-time", value="12")
                                            label 12s
                                
                                .setting-form-element
                                    
                                    .form-question What happens when someone leaves the room mid-game
                                    .form-choice
                                        .radio-choice
                                            input#start-game(type="radio", name="mid-game-leaver", value="loseGame" checked)
                                            label That person's team loses the game.
                                        .radio-choice(style='color: gray;')
                                            input#start-game(type="radio", name="mid-game-leaver", value="wait" disabled)
                                            label Hold the game and wait for that person to come back.
                        .settings-cover                  
                    .foot
                     button#ready Ready
                     button#leave Leave 

    script(src="/script.js") 
    

