doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/titleScreen.css")

        title Sign in
    body 
        .main.otherBG
            .title-join 
                    .title-join-wrap 
                        span Sign in

            .hero(signUp) 
                .signup-form
                    form#sign-up(method='post')
                        .wrap
                            label#sign-up-username-label(for="signUpUsername") Username:
                            input#sign-up-username-input(for="signUpUsername", type="text", name='username', value="admin")
                        
                        
                        .wrap 

                            label#sign-up-password-label(for="signUpPassword") Password:
                            input#sign-up-password-input(for="signUpPassword", type="password", name='password', value="rootadmin")
                           

                        button#submit-button(type="submit") Submit
